<div class="spacer" />
<div class="container">
  <div class="box">
    <p>Box : {{box}}</p>
    <p>Item : {{item}}</p>
    <p>Number of pages : {{pages}}</p>
    <p>Year : {{year}}</p>
    <p>Nature : {{nature}}</p>
    <p>Story : {{story}}</p>
    <p>Content : {{content}}</p>
    <p>Digitized : {{digitized}}</p>    
  </div>
</div>
